<div class="tela  bg-repeat min-h-screen -z-50">
  <div class="relative flex justify-center gap-4 top-10 py-2 px-6">
    <button type="button" class="absolute bg-red-600 hover:bg-red-700 text-white text-3xl px-4 rounded-full z-0 " (click)="voltar()">VOLTAR</button>
  </div>
  <div class="container p-8">
    <div class="container relative grid sm:grid-cols-2 md:grid-cols-4 gap-4 top-16">
      <div class="container bg-transparent p-2 h-5/6 z-30" *ngFor="let item of cardsList">
        <div class="rounded overflow-hidden shadow-lg bg-indigo-700" >
          <div class="div" >
            <img class="w-full" src={{item.images.large}} alt="Sunset in the mountains">
          </div>
          <div class="px-6 py-4">
            <div class="font-bold text-4xl text-green-500 mb-2">{{item.name}}</div>
            <p class="text-green-400 text-base">
          </div>
          <div class=" flex flex-col px-6 pt-4 pb-2">
            <button class="font-bold  text-xl inline-block bg-gray-200  hover:bg-gray-300 rounded-full px-3 py-1  text-gray-700 mr-2 mb-2">VER DETALHES</button>
            <button class="font-bold  text-xl inline-block bg-gray-200  hover:bg-gray-300 rounded-full px-3 py-1  text-gray-700 mr-2 mb-2" (click)="excluirCartaById(item.id)">EXCLUIR CARTA</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>







