<div class="tela bg-cover min-h-screen -z-50" >
  <div class="flex flex-col justify-center items-center text-center h-screen">
      <p class=" text-white text-6xl bg-yellow-500 font-bold mb-20 bem-vindo rounded-full p-10" >BEM VINDO AO POKARALHO</p>
      <p class=" text-black text-5xl font-bold mb-20 " >O seu baralho POKEMON</p>
      <button type="button" class="bg-purple-700 hover:bg-purple-500 text-white text-4xl font-bold py-10 px-20 rounded-full"(click)="startCard()">COMEÇAR</button>
  </div>
</div>
<!-- <app-baralho *ngIf="baralhoComponent" [myCards]="myCards"></app-baralho> -->


